<h2><%= @meal.name %></h2>
<h4><%= @meal.date %></h4>
<h4><%= @meal.location %></h4>

<% if !@meal.dishes.empty? %>
  <% @meal.dishes.each do |dish| %>
    <%= dish.name %>
  <% end %>
<% end %>

<%= link_to 'Delete Meal', @meal, method: :delete %>
